#
# Connector translations
#
# @language       en_US
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:VirtualConnector!
# @subpackage     Translations
# @since          1.0.0
#
# @date           18.10.23
#

cmd:
    base:
        questions:
            continue: "Would you like to continue?"
            whatToDo: "What would you like to do?"
            exit: "Do you want to exit?"

        messages:
            noConnectors: "No Virtual connectors registered in system."
            answerNotValid: "Selected answer: \"%s\" is not valid."

    initialize:
        title: "Virtual connector - initialization"
        subtitle: "This action will create|update|delete connector configuration"

        actions:
            create: "Create new connector configuration"
            update: "Edit existing connector configuration"
            remove: "Delete existing connector configuration"
            list: "List Virtual connectors"
            nothing: "Nothing"

        questions:
            create: "Would you like to create new Virtual connector configuration?"
            disable: "Do you want to disable connector?"
            enable: "Do you want to enable connector?"
            provide:
                identifier: "Provide connector identifier"
                name: "Provide connector name"
            select:
                connector: "Please select connector to manage"

        data:
            name: "Name"
            devicesCnt: "# Devices"

        messages:
            identifier:
                used: "This identifier is already used."
                missing: "Connector identifier have to be provided."
            create:
                success: "Connector \"%name%\" was successfully created."
                error: "Something went wrong, connector could not be created. An error was logged."
            update:
                success: "Connector \"%name%\" was successfully updated."
                error: "Something went wrong, connector could not be updated. An error was logged."
            remove:
                success: "Connector \"%name%\" was successfully removed."
                error: "Something went wrong, connector could not be removed. An error was logged."

    execute:
        title: "Virtual connector - service"
        subtitle: "This action will run connector service"

        questions:
            execute: "Would you like to execute \"%connector%\" connector"
            select:
                connector: "Please select connector to execute"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            error: "Something went wrong, connector was terminated."

    devices:
        title: "Virtual connector - devices management"
        subtitle: "This action will create|update|delete connector device"

        actions:
            create:
                device: "Create new connector device"
            update:
                device: "Edit existing connector device"
            remove:
                device: "Delete existing connector device"
            list:
                devices: "List connector devices"
            nothing: "Nothing"

        questions:
            create:
                device: "Would you like to create new device in connector?"
            select:
                connector: "Please select connector under which you want to manage devices"
                device: "Please select device to manage"
                type: "Please select device type"
            provide:
                identifier: "Provide device identifier"
                name: "Provide device name"

        answers:
            none: "None"
            types:
                virtual-thermostat: "Virtual thermostat"

        data:
            name: "Name"
            model: "Model"

        messages:
            identifier:
                used: "This identifier is already used."
                missing: "Device identifier have to provided."
            create:
                device:
                    success: "Device \"%name%\" was successfully created."
                    error: "Something went wrong, device could not be created. Error was logged."
            update:
                device:
                    success: "Device \"%name%\" was successfully updated."
                    error: "Something went wrong, device could not be updated. Error was logged."
            remove:
                device:
                    success: "Device \"%name%\" was successfully removed."
                    error: "Something went wrong, device could not be removed. Error was logged."
            noDevices: "No devices registered in Virtual connector."
            noConnector: "Connector could not be loaded"
            noService: "Device command service could not be loaded"

        thermostat:
            actions:
                editThermostat: "Edit thermostat configuration"
                editActor: "Edit thermostat heaters or coolers actors"
                editSensor: "Edit thermostat sensors"
                editPreset: "Edit thermostat presets"
                back: "Go to previous menu"

            questions:
                select:
                    mode: "Please select thermostat supported modes (multiple answers available)"
                    mappedDevice: "Select device for mapping"
                    mappedDeviceChannel: "Select device channel for mapping"
                    mappedChannelProperty: "Select channel property for mapping"
                    preset: "Please select thermostat supported presets (multiple answers available)"
                    actorToUpdate: "Select actor which you want to update"
                    sensorToUpdate: "Select sensor which you want to update"
                    presetToUpdate: "Select preset which you want to update"
                provide:
                    targetTemperature:
                        manual: "Provide target temperature value for manual mode"
                        away: "Provide target temperature value for AWAY mode"
                        eco: "Provide target temperature value for ECO mode"
                        home: "Provide target temperature value for HOME mode"
                        comfort: "Provide target temperature value for COMFORT mode"
                        sleep: "Provide target temperature value for SLEEP mode"
                        anti_freeze: "Provide target temperature value for ANTI FREEZE mode"
                    maximumFloorTemperature: "Provide maximum allowed floor temperature"
                    heatingThresholdTemperature: "Provide heating threshold temperature"
                    coolingThresholdTemperature: "Provide cooling threshold temperature"
                useOpenings: "Do you want to configure openings sensors? Like windows, doors, etc."
                useFloorSensor: "Do you want to configure floor temperature sensors?"
                addAnotherHeater: "Do you want to add another heater actor?"
                addAnotherCooler: "Do you want to add another cooler actor?"
                addAnotherOpening: "Do you want to add another opnening sensor?"
                addAnotherSensor: "Do you want to add another temperature sensor?"
                addAnotherFloorSensor: "Do you want to add another floor temperature sensor?"
                create:
                    actor: "Would you like to create new thermostat actor?"
                    sensor: "Would you like to create new thermostat sensor?"

            answers:
                mode:
                    heat: "Heating"
                    cool: "Cooling"
                    auto: "Auto - heat and cool according to temerature"
                preset:
                    away: "Away"
                    eco: "Eco"
                    home: "Home"
                    comfort: "Comfort"
                    sleep: "Sleep"
                    anti_freeze: "Anti freeze"

            messages:
                noHardwareDevices: "No devices registered in system"
                property:
                    notSupported: "Selected property is not supported"
                configureHeaters: "Configure thermostat heater actor/s. This device/s will be controled by thermostat according to settings"
                configureCoolers: "Configure thermostat cooler actor/s. This device/s will be controled by thermostat according to settings"
                configureSensors: "Configure thermostat temperature sensor/s. This device/s will report values to thermostat"
                preset:
                    away: "Configure thermostat temperature for AWAY preset"
                    eco: "Configure thermostat temperature for ECO preset"
                    home: "Configure thermostat temperature for HOME preset"
                    comfort: "Configure thermostat temperature for COMFORT preset"
                    sleep: "Configure thermostat temperature for SLEEP preset"
                    anti_freeze: "Configure thermostat temperature for ANTI FREEZE preset"
                noPresets: "No presets are configured for this thermostat"
                noActors: "No actors are configured for this thermostat"
                noSensors: "No sensors are configured for this thermostat"
